#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5rem;
    min-height: 50px;
    height: 7.5vh;
    background-color: var(--primary-color);
    color: var(--dark-theme-font-color);
    justify-content: space-between;
    align-content: center;
    z-index: 5;
}

.logo{
    transition: transform .25s;
    text-decoration: none;
    color: var(--dark-theme-font-color);
    gap: 0.5625rem;
}

.logo > img{
    object-fit: contain;
}

.logo:hover{
    transform: scale(1.15);
}

.search{
    display: inherit;
    width: 32%;
    height: 3.5vh;
    border-radius: 2.5vh;
    overflow: clip;
    border: .1rem solid black;
    position: relative;
    right: .75rem;
}

.search > input, .search > button{
    padding: 0.25rem .5rem;
    outline: none;
    border: none;
}

.search > input{

    flex-grow: 4;
    background-color: var(--menu-color);
    color: white;
    padding: 0 1rem;
}

.search > button{
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--darker-primary-color);
    font-size: var(--base-font-size);
    cursor: pointer;
    color: inherit;
    text-align: center;
    border-left: .1rem solid black;
    padding-right: .85rem;
}

.search > button:hover{
    background-color: var(--highlight-primary-color);
    border-color: #515151;
}

@media (max-width: 850px) {
    #navbar{
        padding: 0 2rem;
    }
    .discover_menu{
        top: -13.55rem;

    }
}

@media (max-width: 600px) {
    #navbar{
        padding: 0;
    }
}

@media (max-width: 600px) {
    .discover{
        display: none;
    }
    .main_section{
        width: 100%;

    }
}

@media (max-width: 400px) {
    .discover{
        display: none;
    }
    .main_section{
        column-gap: 2vw;
    }
}
