*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_row{
    display: flex;
    flex-direction: row;
    gap: .2rem;
    align-items: center;
}
main{
    margin-top: 7.5vh;
}
body{
    background-color: #223;
}
