:root{
    --primary-color: #714451;
    --menu-color: #643838;
    --darker-primary-color: #551616;
    --highlight-primary-color: #7C3535;
    --light-background-color: #FFF4E6;
    --dark-background-color: #223;
    --base-font-size: clamp(.625rem, 1vw, 1rem);
    --menus-font-size: clamp(.875rem, 1.25vw, 1.15rem);
    --big-font-size: clamp(1.25rem, 1.5vw, 2rem);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_row{
    display: flex;
    flex-direction: row;
    gap: .2rem;
    align-items: center;
}
main{
    margin-top: 7.5vh;
}

body{
    background-color: var(--dark-background-color);
}
