.container {
    composes: container from '../../page.module.css';
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGNvb2tpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    height: 100%;
}

#content {
    background-color: var(--dark-background-color);
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    border: 1px solid var(--dark-theme-font-color);
    border-radius: .5rem;
}

#information {
    border-right: 1px solid var(--dark-theme-font-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
}

#information, #imageBar {
    padding: 2rem;
}

.title {
    font-size: var(--big-font-size);
}

.title + h2 {
    font-size: var(--menus-font-size);
}

.title + h2 > a {
    text-decoration: none;
    color: var(--menu-color);
}

.title + h2 > a:hover {
    color: var(--primary-color);
}


.description {
    margin: 1rem 0.2rem;
}

.tags {
    composes: tags from '../../components/recipe.module.css';
    height: auto;
    opacity: 1;
    justify-content: flex-start;
    padding: 0 .2rem;
}

.tags > a {
    text-decoration: none;
    color: var(--dark-theme-font-color);
    padding: .25rem .5rem;
    border-radius: .5rem;
    background-color: var(--primary-color);
    font-size: var(--base-font-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#stepsList > div {
    display: inherit;
    flex-direction: column;
    gap: .75rem;
}

#imageBar {
    gap: 2.5rem;
    width: 100%;
    height: 100%;
}

.imageContainer {
    width: 100%;
    height: 40vh;
    border-radius: .5rem;
}

.imageItem {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: .5rem;
}

#additionalInfo{
    gap: 1.5rem;
}

#additionalInfo > div {
    align-items: flex-start;
    height: min-content;
}

.gridEvenColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#commentSection {
    width: 100%;
    background-color: var(--dark-background-color);
    border-radius: .5rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#CommentList {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.userInfo {
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    flex-grow: 0.05;
}

.userInfo img {
    width: 3rem;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 50%;
}

#newComment > form {
    flex-grow: 0.4;
    position: relative;
}

.commentInput > textarea {
    resize: none;
    width: 100%;
    aspect-ratio: 8/1;
    padding: .5rem;
    border-radius: .3rem;
    outline: transparent;
}

#commentButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.commentButton {
    composes: primaryButton from '../../page.module.css';
    outline: transparent;
    position: absolute;
    bottom: .65rem;
    right: .25rem;
}

#commentList {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.commentBody{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.commentDate {
    font-size: var(--small-font-size);
}





